body {
  font-family: blockFont;
}

/* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
   
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  #optionsWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:5px;
  }

.option {
    display: inline-block;
    padding-right:15px;
    vertical-align: middle;
}

#darkmodeSlider.on {
    color: white;
}

#darkmodeSlider label, #darkmodeSlider i {
    vertical-align: middle;
}

body {
  background-color: whitesmoke;
}

button {
  padding: 5px;
}

body.darkmode {
  background-color: #363636;
  color: white;
}

body.darkmode button {
  color: white;
  border-color: #67747e;
  background-color: #3a4045;
  border-radius: 4px;
}

.icon.md {
  height:20px;
  display:inline-block;
  position: relative;
  vertical-align: middle;
}

body.darkmode .icon {
  filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
}

#joinRoomForm, #createRoomForm {
  display: none;
}

#copyCode:hover {
  cursor: pointer;
}